# See https://github.com/github/gitignore/blob/master/VisualStudio.gitignore for Visual Studio cruft
.DS_Store
*.ilk
*.idb
*.ipdb
*.pdb
*.iobj
*.obj
*.o
*.user
*.exe
*.pyc
*.tlog
*.recipe
.vs/
CMakeCache*
scripts/.ipynb_*
scripts/__pycache__/
scripts/.vs/
gcxml/nbproject/private/
gcxml/build/
gcxml/dist/javadoc/
gcxml/dist/*.jar
gcxml/.idea/
gcxml/out/
TestGrammar/cmake*
TestGrammar/build
TestGrammar/platform/msvc2019/.vs/
TestGrammar/platform/msvc2022/.vs/
TestGrammar/qpdf
TestGrammar/doc
TestGrammar/bin/*/TestGrammar*
