# See https://github.com/github/gitignore/blob/master/VisualStudio.gitignore for Visual Studio cruft
/gcxml/nbproject/private/
.DS_Store
*.ilk
*.idb
*.ipdb
*.pdb
*.iobj
*.obj
*.o
*.user
*.exe
*.pyc
*.tlog
*.recipe
scripts/.ipynb_*
scripts/__pycache__/
scripts/.vs/
gcxml/build/
gcxml/dist/javadoc/
CMakeCache*
TestGrammar/cmake*
TestGrammar/Makefile
TestGrammar/platform/msvc2019/.vs/
TestGrammar/qpdf
TestGrammar/doc
