/gcxml/nbproject/private/
.DS_Store
*.ilk
*.pdb
*.obj
*.o
*.user
*.exe
*.pyc
*.tlog
scripts/__pycache__/
scripts/.vs/
gcxml/dist/javadoc/
gcxml/dist/gcxml.jar
CMakeCache*
TestGrammar/cmake*
TestGrammar/Makefile
TestGrammar/platform/msvc2019/.vs/
TestGrammar/src/qpdf
