Key	Type	SinceVersion	Required	IndirectRefrence	RequiredValue	DefaultValue	PossibleValues	SpecialCase	Link
OCInteract									
OCAutoStates									
AcroFormInteract									
Navigation									
Markup									
3DMarkup									
Multimedia									
U3D									
PRC									
Action									
EnableJavaScripts									
Attachment									
AttachmentEditing									
Collection									
CollectionEditing									
DigSigValidation									
DigSig									
DigSigMDP									
RichMedia									
Geospatial2D									
Geospatial3D									
DPartInteract									
SeparationSimulation									
Transitions									
Encryption									
